<p><%= comment.author %> said:</p>
<blockquote>
  <%= comment.body %>
</blockquote>

<p>
  <%= link_to 'Delete', [comment.post, comment],
              method: :delete, data: {confirm: 'Are you sure?'} %>
</p>